/* Global */

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Menu */

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}

#f-footer{
    font-size: 12px !important;
}